body {
    background-color:rgb(240, 115, 252);
    image: 0px;
}

.logo {
    max-width: 120px;
    display: block;
    margin: auto;
}

.navigation {
    text-align: center;
    background-color:rgb(51, 240, 161);
    font-size:30px;
    font-family:fantasy;
}

.header {
    background-color: rgb(249, 250, 250);
}

.navigation a {
    color:rgb(102, 6, 192);
}
.banner {
    /* vh = viewport hight = window height */
    min-height: 20px;
    background-image: url("katerina-shkribey-0E22xKfqPrM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.banner h1{
    text-align: center;
    margin: 0px;
    padding: 25vh;
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 2px #333333;

}